# Project specific
data/
logs/
models/*.pt
models/*.onnx
videos/
*.db
*.db-journal
datasets/parking_vehicles/train
datasets/parking_vehicles/visual
# *.pt # now using a LFS for storage it

# Keep model directory
!models/.gitkeep
